<!DOCTYPE html>
<html>
<head>
    <title>Infomation</title>
    <meta charset="utf-8">
    <meta name="author" content="hongchh_sysu@qq.com">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/index.css">
</head>
<body>
    <div id="header">
    </div>
    <div id="website-info">
        <h1>Student Information System</h1>
        <p>Information of student <span>name</span>.</p>
    </div>
    <div id="student-info">
        <h2>Information Card:</h2>
        <ul>
            <li>* Name: name</li>
            <li>* ID: studentId</li>
            <li>* Phone: phone</li>
            <li>* Email: email</li>
        </ul>
    </div>
</body>
</html>