nav.navbar.navbar-inverse
  div.container-fluid
    div.container
        div.navbar-header
          p.navbar-brand <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Easy Blog
        div.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/#/signup") <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> 注册
div.container
  div.row
    div.col-md-4.col-md-offset-4
      form.form
        div.form-group
          input(type="text", class="form-control", placeholder="用户名", ng-model='user.username')
          div.text-warning.bg-warning {{error.usernameError}}
        div.form-group
          input(type="password", class="form-control", placeholder="密码", ng-model='user.password')
          div.text-warning.bg-warning {{error.passwordError}}
        div.form-group
          button(class='btn btn-default', ng-click="clear()") 重置
          button(class='btn btn-default', ng-click="signin()") 登陆