doctype type
html
  head
    title Not Found
    meta(charset="utf-8")
    meta(name="author", content="hongchh_sysu@qq.com")
    link(rel="stylesheet", type="text/css", href="./stylesheets/notfound.css")
  body
    h1 404 Not Found (+﹏+)~